<div class="bg-[#F2F9FF] py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-[#E195AB] sm:text-4xl">Alışverişe Hoş Geldiniz</h2>
    <a href="/products" class="mt-4 inline-block bg-[#FFCCE1] border border-transparent rounded-md py-3 px-8 font-medium text-[#E195AB] hover:bg-[#E195AB] hover:text-[#FFCCE1]">Alışverişe Başla</a>
  </div>

  <section class="mt-12">
    <h2 class="text-2xl font-bold text-[#E195AB] mb-6 text-center">Popüler Kategoriler:</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div class="category-card bg-white rounded-lg shadow-md overflow-hidden" *ngFor="let category of categories">
        <img [src]="category.image" [alt]="category.name" class="w-full h-32 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-[#E195AB]">{{category.name}}</h3>
          <a [routerLink]="['/products']" [queryParams]="{ category: category.name }" class="mt-2 inline-block bg-[#FFF5D7] text-[#E195AB] py-2 px-4 rounded-full text-sm hover:bg-[#E195AB] hover:text-[#FFF5D7]">Ürünleri Gör</a>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-12">
    <h2 class="text-2xl font-bold text-[#E195AB] mb-6 text-center">Öne Çıkan Ürünler!</h2>
    <div class="overflow-x-auto scrollbar-hide">
      <div class="inline-flex space-x-4 py-4">
        <a
          class="product-card bg-white rounded-lg shadow-md flex-shrink-0 w-64"
          *ngFor="let product of products"
          [routerLink]="['/products', product.id]"
        >
          <img
            [src]="'fontend/src/assets/images/urun.png'"
            [alt]="product.name"
            class="w-full h-40 object-cover rounded-t-lg"
          />
          <div class="p-4">
            <h4 class="text-md font-semibold text-[#E195AB]">{{ product.name }}</h4>
            <p class="text-sm text-gray-600 mt-1">{{ product.price | currency }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
