nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ADB2D4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .logo img {
    height: 50px;
    width: auto;
    max-width: 150px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: #BE5985;
        }
      }
    }
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  nav {
    position: relative;
  }

  ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: #ADB2D4;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
  }

  ul.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
