.top-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #F3FDE8;
  box-sizing: border-box;
}

.logo img {
  height: 10px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  margin: 0 30px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #A8DF8E;
  background-color: white;
}

.right-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s ease;
}
.right-links a:hover {
  color: #A8DF8E;
}

.bottom-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.menu-toggle {
  cursor: pointer;
  font-weight: bold;
  color: #A8DF8E;
}

.label {
  background: #FFBFBF;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 6px;
}

.quick-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.quick-links a:hover {
  color: #FFBFBF;
}

.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #FFE5E5;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  display: flex;
}

.left-pane {
  width: 200px;
  background: #F3FDE8;
  padding: 10px;
  display: none;
}

.left-pane li:hover {
  background: #A8DF8E;
  color: white;
}

.right-pane {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  background-color: white;
}

.right-pane h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #A8DF8E;
}

.right-pane ul li {
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}
.right-pane ul li:hover {
  color: #FFBFBF;
}
