<!-- ÜST NAVBAR -->
<div class="top-navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Trendyol Logo">
    </a>
  </div>
  <input class="search-bar" type="text" placeholder="Aradığınız ürün, kategori veya marka yazınız">
  <div class="right-links">
    <a href="/seller/register">Be a seller </a>
    <a href="https://github.com/zeyneptanrivermis/e-commerce-Project/tree/master">About Us</a>
    <a routerLink="/user/wishlist">❤️ Whishlist</a>
    <a href="/shopping-cart">🛒 Cart </a>
    <a *ngIf="!authService.isLoggedIn()" href="/login">Log in</a>
    <a *ngIf="authService.isLoggedIn()" [routerLink]="['/user', 'user-profile']">See User Profile</a>
  </div>
</div>

<!-- ALT NAVBAR: Kategoriler -->
<div class="bottom-navbar">
  <div class="category-menu">
    <div class="menu-toggle" (click)="toggleMegaMenu()">
      ☰ TÜM KATEGORİLER <span class="label">Yeni</span>
    </div>
    <div id="mega-menu" #megaMenu class="mega-menu">
      <div class="left-pane" #leftPane>
        <ul>
          <li (mouseover)="showSubmenu('kadın')">Kadın</li>
          <li (mouseover)="showSubmenu('erkek')">Erkek</li>
          <li (mouseover)="showSubmenu('anne')">Anne & Çocuk</li>
        </ul>
      </div>
      <div id="submenu" #submenu class="right-pane">
        <!-- Alt kategori içeriği Angular ile değişecek -->
      </div>
    </div>
  </div>

  <div class="quick-links">
    <a routerLink="/products">All Products <span class="label">New</span></a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Clothing' }">Clothing</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Makeup' }">Makeup</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Electronics' }">Electronics</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Pet Supplies' }">Pet Supplies</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Home and Kitchen' }">Home & Kitchen</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Toys & Games' }">Toys & Games</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Sports & Outdoor' }">Sports & Outdoor</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: 'Hobby Products' }">Hobby Products</a>
    <a [routerLink]="['/products']" [queryParams]="{ bestsellers: true }">Best Sellers <span class="label">New</span></a>
  </div>

</div>
