<!-- ÜST NAVBAR -->
<div class="w-full flex items-center justify-between px-10 py-4 bg-green-50 shadow">
  <div class="flex items-center gap-6">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" class="h-10">
    </a>
    <input
      type="text"
      placeholder="Aradığınız ürün, kategori veya marka yazınız"
      class="hidden md:block px-4 py-2 rounded-lg border border-green-300 focus:outline-none focus:ring-2 focus:ring-pink-200 transition w-96"
    />
  </div>

  <div class="flex items-center space-x-6 text-gray-600 text-sm font-medium">
    <a href="/seller/register" class="hover:text-green-400">Be a seller</a>
    <a href="https://github.com/zeyneptanrivermis/e-commerce-Project/tree/master" class="hover:text-green-400">About Us</a>
    <a routerLink="/user/wishlist" class="hover:text-pink-400">❤️ Wishlist</a>
    <a href="/shopping-cart" class="hover:text-pink-400">🛒 Cart</a>
    <a *ngIf="!authService.isLoggedIn()" href="/login" class="hover:text-blue-500">Log in</a>
    <a *ngIf="authService.isLoggedIn()" [routerLink]="['/user', 'user-profile']" class="hover:text-blue-500">Profile</a>
  </div>
</div>

<!-- ALT NAVBAR -->
<div class="w-full flex flex-wrap items-center px-10 py-3 border-y border-gray-200 bg-white">
  <div class="flex flex-wrap gap-6 text-gray-700 text-sm font-medium">
    <a routerLink="/products" class="hover:text-pink-400">All Products <span class="ml-1 text-xs bg-pink-300 text-white px-2 py-0.5 rounded-full">New</span></a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Clothing') }" class="hover:text-pink-400">Clothing</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Makeup') }" class="hover:text-pink-400">Makeup</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Home and Kitchen') }" class="hover:text-pink-400">Home & Kitchen</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Electronics') }" class="hover:text-pink-400">Electronics</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Pet Supplies') }" class="hover:text-pink-400">Pet Supplies</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Toys & Games') }" class="hover:text-pink-400">Toys & Games</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Sports & Outdoor') }" class="hover:text-pink-400">Sports & Outdoor</a>
    <a [routerLink]="['/products']" [queryParams]="{ category: normalizeCategory('Hobbies') }" class="hover:text-pink-400">Hobby Products</a>
      Best Sellers <span class="ml-1 text-xs bg-pink-300 text-white px-2 py-0.5 rounded-full">New</span>
  </div>
</div>
