<footer class="bg-beyaz text-lacivert-derin py-8 px-6 border-t border-lavanta-grisi/20">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
    <div class="footer-column">
      <h4 class="text-lg font-semibold mb-4 text-gece-yarisi">Trendyol</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-acik-pembe transition-colors duration-200">Who We Are</a></li>
        <li><a href="#" class="hover:text-acik-pembe transition-colors duration-200">Contact Us</a></li>
      </ul>
    </div>

    <div></div>

    <div class="footer-column">
      <h4 class="text-lg font-semibold mb-4 text-gece-yarisi">Seller</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-acik-pembe transition-colors duration-200">Sell on Trendyol</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4 class="text-lg font-semibold mb-4 text-gece-yarisi">Help</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-acik-pembe transition-colors duration-200">Frequently Asked Questions</a></li>
        <li><a href="#" class="hover:text-acik-pembe transition-colors duration-200">Live Chat / Assistant</a></li>
        <li><a href="https://www.tiktok.com/@azsaa49/video/7477577763151416583" class="hover:text-acik-pembe transition-colors duration-200">How to Return</a></li>
      </ul>
    </div>
  </div>

  <div class="max-w-6xl mx-auto mt-8 py-4 border-t border-lavanta-grisi/20 flex items-center justify-between">
    <h4 class="text-md font-semibold text-gece-yarisi">Social Media</h4>
    <div class="space-x-4 text-xl">
      <a href="https://github.com/zeyneptanrivermis/e-commerce-Project" target="_blank" class="hover:text-acik-pembe transition-colors duration-200">
        <i class="fab fa-github"></i>
      </a>
      <a href="#" class="hover:text-acik-pembe transition-colors duration-200">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
