<ng-container *ngIf="dataLoaded; else loading">

  <!-- Non-admin, non-seller layout -->
  <ng-container *ngIf="showLayout && !isAdmin && !isSeller; else restrictedLayout">
    <app-navbar class="fixed-navbar"></app-navbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <app-footer class="fixed-footer"></app-footer>

    <!-- Chat-bot sadece müşteri ise gösterilsin -->
    <app-chat
      class="chat-bot"
      *ngIf="isLoggedIn">
    </app-chat>
  </ng-container>

  <!-- Admin veya Seller için sade layout -->
  <ng-template #restrictedLayout>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </ng-template>

</ng-container>

<ng-template #loading>
  <div class="loading">Loading…</div>
</ng-template>
