<div class="user-panel">
  <nav class="user-menu">
    <h2 class="panel-title">My Account</h2>
    <a routerLink="/user/user-profile" routerLinkActive="active-link">Profile</a>
    <a routerLink="/user/wishlist" routerLinkActive="active-link">Wishlist</a>
    <a routerLink="/user/order-history" routerLinkActive="active-link">Orders</a>
    <a routerLink="/home" routerLinkActive="active-link" (click)="logout()">Log out</a>
  </nav>

  <div class="user-content">
    <router-outlet></router-outlet>
  </div>


</div>
