body {
  height: 100vh; /* Viewport yüksekliğinin %100'ü kadar yap */
  margin: 0; /* Tarayıcıların varsayılan marginlerini kaldır */
  overflow: hidden; /* İsteğe bağlı: Sayfa içeriği ekrandan taşarsa kaydırmayı engeller */
}
