<div class="min-h-screen flex bg-gray-100">
  <aside class="w-64 flex flex-col py-6 px-4 bg-lacivert-derin text-white">
    <div class="text-xl font-semibold mb-8 px-2 text-white">ADMIN PANEL</div>

    <nav class="flex-grow">
      <ul>
        <li routerLinkActive="bg-acik-pembe/20 rounded-md mb-2">
          <a routerLink="dashboard" class="flex items-center py-2 px-4 hover:bg-acik-pembe/20 rounded-md transition duration-300">
            <span class="mr-2">🏠</span>
            <span class="label">Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="bg-acik-pembe/20 rounded-md mb-2">
          <a routerLink="users" class="flex items-center py-2 px-4 hover:bg-acik-pembe/20 rounded-md transition duration-300">
            <span class="mr-2">👥</span>
            <span class="label">Users</span>
          </a>
        </li>
        <li routerLinkActive="bg-acik-pembe/20 rounded-md mb-2">
          <a routerLink="products" class="flex items-center py-2 px-4 hover:bg-acik-pembe/20 rounded-md transition duration-300">
            <span class="mr-2">📦</span>
            <span class="label">Products</span>
          </a>
        </li>
        <li routerLinkActive="bg-acik-pembe/20 rounded-md mb-2">
          <a routerLink="orders" class="flex items-center py-2 px-4 hover:bg-acik-pembe/20 rounded-md transition duration-300">
            <span class="mr-2">🛒</span>
            <span class="label">Orders</span>
          </a>
        </li>
        <li routerLinkActive="bg-acik-pembe/20 rounded-md">
          <a routerLink="refunds"
             class="flex items-center py-2 px-4 hover:bg-acik-pembe/20 rounded-md transition duration-300">
            <span class="mr-2">🔄</span>
            <span class="label">Refund Requests</span>
          </a>
        </li>
      </ul>
    </nav>

    <button class="py-2 px-4 rounded-md mt-8 hover:bg-acik-pembe/20 transition duration-300 focus:outline-none text-white bg-acik-pembe" (click)="logout()">
      <span class="mr-2">🚪</span>
      <span class="label">Log Out</span>
    </button>
  </aside>

  <section class="flex-grow p-6">
    <router-outlet></router-outlet>
  </section>
</div>
