<aside class="w-64 h-screen bg-gray-900 text-white flex flex-col py-8 px-4 shadow-md">
  <h2 class="text-2xl font-bold text-red-400 mb-10">SELLER PANEL</h2>

  <nav class="flex flex-col gap-4">
    <a routerLink="/seller/dashboard" routerLinkActive="bg-red-400 text-white font-semibold"
       [routerLinkActiveOptions]="{ exact: true }"
       class="flex items-center gap-2 px-4 py-2 rounded hover:text-red-300 transition">
      🏠 Dashboard
    </a>
    <a routerLink="/seller/products" routerLinkActive="bg-red-400 text-white font-semibold"
       class="flex items-center gap-2 px-4 py-2 rounded hover:text-red-300 transition">
      📦 Products
    </a>
    <a routerLink="/seller/orders" routerLinkActive="bg-red-400 text-white font-semibold"
       class="flex items-center gap-2 px-4 py-2 rounded hover:text-red-300 transition">
      🛒 Orders
    </a>
  </nav>

  <button (click)="logout()" class="mt-auto px-4 py-2 border border-red-400 rounded hover:bg-red-400 hover:text-white transition text-red-400 font-semibold">
    📕 Logout
  </button>
</aside>
