<div class="product-item">
  <a [routerLink]="['/products', product.id]" class="product-link">
    <h3>{{ product.name }}</h3>
    <p><strong>Price:</strong> {{ product.price | currency }}</p>
  </a>

  <p><strong>Main Category:</strong>
    <a [routerLink]="['/products']" [queryParams]="{ category: product.mainCategory }" class="category-button">
      {{ product.mainCategory }}
    </a>
  </p>

  <p>
    <ng-container *ngIf="product.sideCategories && product.sideCategories.length > 0">
      <ng-container *ngFor="let sideCategory of product.sideCategories; let last = last">
        <a [routerLink]="['/products']"
           [queryParams]="{ category: sideCategory }"
           class="category-button">
          {{ sideCategory }}
        </a><span *ngIf="!last">, </span>
      </ng-container>
    </ng-container>
  </p>

  <button (click)="onAdd()">Sepete Ekle</button>
</div>
